body {
    margin: 0;
    font-family: 'Averia Libre', cursive;

}

.cont {
    margin: 0px 265px;
}

.header {
    background: url(fon.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    padding-bottom: 35px;
}

.header_line {
    padding-top: 35px;
    gap: 350px;
    display: flex;
    justify-content: space-between;
}




.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: #13CDC2;
}


.header_down {
    display: flex;
    flex-direction: column;


}

.header_left {
    position: absolute;
    margin-top: 105px;
}

.header_title {
    font-family: 'Averia Libre', cursive;
    font-size: 108px;
    font-weight: 600;
    line-height: 132px;
    letter-spacing: 0em;
    text-align: left;
    color: #899c9c;
    margin-left: 255px;
    margin-top: 165px;


}



.header_subtitle {
    font-family: 'Averia Libre', cursive;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #747D81;


}

.header_suptitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Averia Libre', cursive;
    font-weight: 450;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 25px 0px;
    width: 586px;
    padding-bottom: 65px;



}

.header_s_title {
    display: flex;
    justify-content: space-between;
    align-self: self-start;
    gap: 30px;
    height: 86px;
    width: 595px;


}

.s_title {
    font-size: 18px;
    color: #00E0FF;
    line-height: 25px;
    align-self: flex-end;
}

.s_title span {
    color: #fff;
    line-height: 23px;


}

.line {
    background: #00E0FF;
    border-bottom: 2px solid #07aec4;
    box-shadow: 0px 7px 20px 11px #00E0FF;
    width: 100%;
    


}

.header_button {
    padding: 14px 38px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;
    text-decoration: none;
    transition: background 0.3s liner;

}

.header_button:hover {
    background: #0d837b;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    color: #fff;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%),
        radial-gradient(47.54% 111.62% at 50% 50%, #49B9E8 0%, rgba(31, 77, 96, 0.43) 100%)
}

input[type=submit] {
    width: 100%;
    background-color: #00E0FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0d837b;
}

.header_mobile {
    display: none;
    border-radius: 5px;
    background-color: #033958;
    opacity: 95%;
    padding: 20px;
    width: 302px;
    height: 607px;
}

.header_mobile_title {
    font-family: Avenir Next Cyr;
    font-size: 30px;
    font-weight: 200;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #4ABCEC;
    text-transform: uppercase;
    margin-bottom: 25px;
    width: 350px;



}

.header_mobile_title span {
    color: #FFFFFF;

}

.header_mobile_logo {
    display: none;
    justify-content: center;
}

option {
    background: #033958;
}

.cards{
    background: linear-gradient(#0C373D, #022335);
    padding-bottom: 35px;
}

.card_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: #4ABCEC;
    text-transform: uppercase;
    margin-bottom: 115px;
    width: 850px;



}

.card_title span {
    color: #FFFFFF;
    padding-left: 5px;
}

.card_holder{
    margin-bottom: 55px;
}

.card_holder2{
    margin-bottom: 55px;
}

.history {
    background: url(fon3.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    padding-bottom: 35px;
}

.history_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 105px;
    margin-bottom: 115px;
    color: #4ABCEC;
    text-transform: uppercase;
}

.history_title span {
    color:  #fff;
}
.history_button{
    margin-top: 105px;
   
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 360px;
    height: 120px;
  
   
}


.history_btn {
    padding: 18px;
   
    text-decoration: none;
    transition: background 0.3s liner;
    border: 1px solid;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;
    
    
}

.history_btn:hover {
    background: #0d837b;
}






@media (max-width: 1148px) {
    .cont {
        margin: 0px 115px;
    }

    .header_logo {
        display: none;
    }



    .num {
        font-size: 40px;
        font-weight: 300;
        border: 2px solid #2d4047;
        width: 1050px;
        height: 100px;
        font-weight: 600;
        background: #08262B80;
        opacity: 35%;
    }

    .phone_holder {
        margin-left: 50px;
        margin-top: -80px;

    }

    .header_title {
        margin-left: 115px;

    }
    



}





@media (max-width: 1040px) {
    .cont {
        margin: 0px 105px;
    }

    .num {
        font-size: 40px;
        border: 2px solid #2d4047;
        width: 990px;
        font-weight: 500;
        background: #08262B80;
        opacity: 35%;
    }

    .phone_holder {
        margin-left: 60px;
        margin-top: -80px;

    }

    .header_left {
        display: none;
    }

    .header_title {
        margin-left: 100px;

    }



}





@media (max-width: 988px) {
    .cont {
        margin: 0px 65px;
    }

    .header {
        height: 1800px;
    }

    .num {
        font-size: 40px;
        border: 2px solid #2d4047;
        width: 850px;
        font-weight: 400;
        background: #08262B80;
        opacity: 35%;
        margin-left: 50px;

    }


    .header_left {
        display: none;
    }

    .header_title {
        margin-left: 85px;

    }

    .phone_holder {
        margin-left: -50px;
        margin-top: -80px;

    }

    .phone_img {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }

    .header_mobile {
        display: block;
    }
    .header_mobile_logo{
        display: flex;
        justify-content: center;
    }

    
}





@media (max-width: 982px) {
    .cont {
        margin: 0px 30px;
    }

    .num {
        position: absolute;
        font-size: 35px;
        border: 2px solid #2d4047;
        width: 800px;
        background: #08262B80;
        text-align: center;
        opacity: 35%;
        margin-top: -100px;

    }


    .header_left {
        display: none;
    }

    .phone_holder {
        margin-left: 90px;
        margin-top: -40px;

    }

    .header_title {
        font-size: 40px;
        margin-left: 40px;
    }

    .header_suptitle {
        width: 450px;
    }

    .header_s_title {
        width: 380px;
        display: flex;
        justify-content: center;
        align-self: self-start;
        gap: 10px;
        height: 86px;

    }

    .header_mobile {
        display: block;
        align-items: center;
    }
    .header_mobile_logo{
        display: flex;
        justify-content: center;
    }
    
   


}
@media (max-width: 732px) {
    .num {
        position: absolute;
        font-size: 30px;
        border: 2px solid #2d4047;
        width: 100%;
        background: #08262B80;
        text-align: center;
        opacity: 35%;

    }

}



@media (max-width: 682px) {

    .num {
        position: absolute;
        font-size: 25px;
        border: 2px solid #2d4047;
        width: 70%;
        background: #08262B80;
        text-align: center;
        opacity: 35%;

    }


    .header_left {
        display: none;
    }

    .phone_holder {
        margin-left: 90px;
        margin-top: -40px;

    }

    .header_mobile {
        display: block;
    }

    .header_mobile_logo{
        display: flex;
        justify-content: center;
    }

    


}




.info {
    background: #022335;
    border-bottom: 2px solid #07aec4;
    box-shadow: 0px 7px 20px -17px #00E0FF;
    width: 1200%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
    display: flex;

}

.info_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 85px;
    margin-bottom: 115px;
    color: #4ABCEC;
    text-transform: uppercase;

}

.info_title span {
    color: #fff;
}


.info_2 {
    background: url(Фон5.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

}

.info_2_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    text-align: left;
    padding-top: 85px;
    margin-bottom: 65px;
    color: #4ABCEC;
    text-transform: uppercase;

}

.info_2_title span {
    color: #fff;
}

.info_2_button{
    margin-top: 105px;
   
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 360px;
    height: 120px;
  
   
}


.info_2_btn {
    padding: 18px;
   
    text-decoration: none;
    transition: background 0.3s liner;
    border: 1px solid;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;
    
    
}

.info_2_btn:hover {
    background: #0d837b;
}

.info_3 {
    background: #022335;
    background-size: cover;
    width: 100%;
    height: 1700px;
}

.info_3_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 86px;
    text-align: left;
    padding-top: 85px;
   
    color: #4ABCEC;
    text-transform: uppercase;

}

.info_3_title span {
    color: #fff;
}

.info_3_subtitle {
    font-family: Avenir Next Cyr;
    font-size: 18px;
    font-weight: 450;
    line-height: 22px;
    text-align: left;
    color: #fff;
    margin-bottom: 75px;
}

.info_3_btn {
    padding: 15px;
    margin-top: 85px;
   
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 420px;
    height: 65px;
    text-decoration: none;
    transition: background 0.3s liner;
    border: 1px solid;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;
    
    
}

.info_3_btn:hover {
    background: #0d837b;
}



.author {
    background: url(fon6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    height: 900px;
}

.author_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    text-align: left;
    padding-top: 85px;
    margin-bottom: 55px;
    color: #fff;
    text-transform: uppercase;
}

.author_subtitle {
    width: 500px;
    color: #fff;
}

.coments {
    background: #022335;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.coment_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;

}

.coment_header {

    padding-top: 85px;
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;

}

.more_coment {
    border: 1px solid #00E0FF;
    border-radius: 20px;
    font-size: 12px;
    width: 215px;
    height: 30px;
    text-align: center;
    padding: 20px;
    text-transform: none;
    color: #fff;

}

.coment_cards_holder {
    display: flex;
    justify-content: space-between;
}

.coment_card {
    width: 380px;
    height: 405px;
    color: #fff;
    margin-left: 15px;
}

.detali,
.coment_card_image,
.coment_card_text,
.coment_card_desc {
    display: flex;
    justify-content: left;
    text-align: left;
    font-family: 'Averia Libre', cursive;
    margin-top: 12px;
    font-weight: 400;
    padding: 10px;
}

.coment_card_img {
    border: 2px solid #00E0FF;
    border-radius: 20px;
    height: 235px;
}


.jobs {
    background: #043A41;
    background-size: cover;
    width: 120%;
    height: 900px;
}

.job_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;

}

.job_header {

    padding-top: 85px;
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;

}

.job_s {
    border: 1px solid #00E0FF;
    border-radius: 20px;
    font-size: 12px;
    width: 215px;
    height: 30px;
    text-align: center;
    padding: 20px;
    text-transform: none;
    color: #fff;

}

.job_cards_holder {
    display: flex;
    justify-content: space-between;
}

.job_card {
    width: 380px;
    height: 405px;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 35px;
}

.detali,
.job_card_image,
.job_card_text,
.job_card_desc {
    display: flex;
    justify-content: left;
    text-align: left;
    font-family: 'Averia Libre', cursive;
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 400;
    padding: 10px;
}

.job_card_img {
    border: 2px solid #00E0FF;
    border-radius: 20px;
    height: 235px;
}



.footer {
    background: url(fon7.jpg);
    background-size: cover;
    height: 300px;
    width: 120%;
    color: #fff;
    text-align: center;

}

.footer_down {
    align-items: center;
    margin-top: 78px;

}

.footer_down::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 621px;
    background-color: #00E0FF;
    margin-top: 15px;
    margin-left: -1006px;

}

.footer_down::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 594px;
    background-color: #00E0FF;
    margin-top: 15px;
    margin-left: 405px;

}

.footer_call {
    position: absolute;
    margin-top: -235px;


}

.footer_logo {
    position: absolute;
    margin-top: 85px;


}

.phone_holder {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-top: 56px;
}

.soc_holder {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-top: 16px;

}