body {
    margin: 0;
    font-family: 'Averia Libre', cursive;

}

.cont {
    margin: 0px 265px;
}

.header {
    background: url(fon.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    padding-bottom: 35px;
}

.header_line {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}




.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: #13CDC2;
}


.header_down {
    display: flex;
    flex-direction: column;


}

.header_left {
    position: absolute;
    margin-top: 105px;
}

.header_title {
    font-family: 'Averia Libre', cursive;
    font-size: 108px;
    font-weight: 600;
    line-height: 132px;
    letter-spacing: 0em;
    text-align: left;
    color: #899c9c;
    margin-left: 255px;
    margin-top: 165px;


}



.header_subtitle {
    font-family: 'Averia Libre', cursive;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #747D81;


}

.header_suptitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Averia Libre', cursive;
    font-weight: 450;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 25px 0px;
    width: 586px;
    padding-bottom: 65px;



}

.header_s_title {
    display: flex;
    justify-content: space-between;
    align-self: self-start;
    gap: 30px;
    height: 86px;
    width: 595px;


}

.s_title {
    font-size: 18px;
    color: #00E0FF;
    line-height: 25px;
    align-self: flex-end;
}

.s_title span {
    color: #fff;
    line-height: 23px;


}

.line {
    background: #00E0FF;
    border-bottom: 2px solid #07aec4;
    box-shadow: 0px 7px 20px 11px #00E0FF;
    width: 100%;



}

.header_button {
    padding: 14px 38px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;
    text-decoration: none;
    transition: background 0.3s liner;

}

.header_button:hover {
    background: #0d837b;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    color: #fff;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%),
        radial-gradient(47.54% 111.62% at 50% 50%, #49B9E8 0%, rgba(31, 77, 96, 0.43) 100%)
}

input[type=submit] {
    width: 100%;
    background-color: #00E0FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0d837b;
}

.header_mobile {
    display: none;
    border-radius: 5px;
    background-color: #033958;
    opacity: 95%;
    padding: 20px;
    width: 302px;
    height: 607px;
}

.header_mobile_title {
    font-family: Avenir Next Cyr;
    font-size: 30px;
    font-weight: 200;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #4ABCEC;
    text-transform: uppercase;
    margin-bottom: 25px;
    width: 350px;



}

.header_mobile_title span {
    color: #FFFFFF;

}

.header_mobile_logo {
    display: none;
    justify-content: center;
}

option {
    background: #033958;
}

.cards {
    background: linear-gradient(#0C373D, #022335);
    padding-bottom: 35px;
}

.card_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: #4ABCEC;
    text-transform: uppercase;
    margin-bottom: 115px;
    width: 850px;



}

.card_title span {
    color: #FFFFFF;
    padding-left: 5px;
}

.card_holder {
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: repeat(1, 226px);
    gap: 35px;

}

.card_1 {
    border: 2px solid;
    border-image-source: radial-gradient(47.54% 111.62% at 50% 50%, #49B9E8 0%, rgba(31, 77, 96, 0.43) 100%);
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    padding: 35px;
    font-size: 15px;

}

.card_img_1 {
    width: 50px;
    height: 50px;
}

.card_holder2 {
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: repeat(4, 387px);
    grid-template-rows: repeat(1, 220px);
    gap: 35px;
}

.card_2 {
    border: 2px solid;
    border-image-source: radial-gradient(47.54% 111.62% at 50% 50%, #49B9E8 0%, rgba(31, 77, 96, 0.43) 100%);
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    padding: 35px;
    font-size: 15px;

}

.card_img_2 {
    width: 50px;
    height: 50px;
}

.card_text,
.card_text_2 {
    padding: 18px;
}


.history {
    background: url(fon3.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    padding-bottom: 35px;
}

.history_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 105px;
    margin-bottom: 115px;
    color: #4ABCEC;
    text-transform: uppercase;
}

.history_title span {
    color: #fff;
}

.history_button {
    margin-top: 105px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 360px;
    height: 120px;


}


.history_btn {
    padding: 18px;

    text-decoration: none;
    transition: background 0.3s liner;
    border: 1px solid;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;


}

.history_btn:hover {
    background: #0d837b;
}



@media (max-width: 1705px) {


    .card_holder {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(2, 485px);
        grid-template-rows: repeat(2, 236px);
        gap: 35px;
        font-size: 20px;

    }

    .card_holder2 {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(1, 685px);
        grid-template-rows: repeat(3, 236px);
        gap: 35px;
        font-size: 20px;

    }
    .accord{
        height: 100%;
    }

}


@media (max-width: 1292px) {



    .card_holder,
    .card_holder2 {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(1, 685px);
        grid-template-rows: repeat(3, 236px);
        gap: 35px;
        font-size: 20px;
        text-align: left;

    }

}


@media (max-width: 1148px) {
    .cont {
        margin: 0px 115px;
    }

    .header_title {
        font-size: 90px;
        text-align: center;

    }


    .header_subtitle {
        font-size: 18px;
        text-align: center;


    }

    .header_suptitle {

        font-size: 18px;
        text-align: center;
        margin: 25px 0px;
        padding-bottom: 50px;



    }

    .header_s_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        height: 86px;
        width: 595px;


    }




}





@media (max-width: 1040px) {
    .cont {
        margin: 0px 105px;
    }

    .header {
        height: 1800px;
    }

    .header_title {
        font-size: 70px;
        text-align: center;

    }


    .header_subtitle {
        font-size: 18px;
        text-align: center;


    }

    .header_suptitle {

        font-size: 18px;
        text-align: center;
        margin: 25px 0px;
        padding-bottom: 50px;



    }

    .header_s_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        height: 86px;
        width: 595px;


    }


    .header_left {
        display: none;
    }


    .header_mobile {
        display: block;
        width: 700px;
    }

    .header_mobile_logo {
        display: flex;
        justify-content: center;
    }






}





@media (max-width: 988px) {
    .cont {
        margin: 0px 65px;
    }

    .header {
        height: 1800px;
    }

    .header_title {
        font-size: 60px;
        text-align: center;
        margin-top: 105px;


    }


    .header_subtitle {
        font-size: 18px;
        text-align: center;


    }

    .header_suptitle {

        font-size: 18px;
        text-align: center;
        margin: 25px 0px;
        padding-bottom: 50px;



    }

    .header_s_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        height: 86px;
        width: 595px;


    }





    .header_left {
        display: none;
    }

    .header_title {
        margin-left: 85px;

    }

    .header_mobile {
        display: block;
        width: 650px;
    }

    .header_mobile_logo {
        display: flex;
        justify-content: center;
    }

    .card_holder,
    .card_holder2 {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(1, 585px);
        grid-template-rows: repeat(3, 236px);
        gap: 35px;

    }


}





@media (max-width: 952px) {
    .cont {
        margin: 0px 30px;
    }

    .header_title {
        font-size: 70px;
        text-align: center;
        margin-top: 85px;


    }


    .header_subtitle {
        font-size: 18px;
        text-align: center;
        width: 750px;


    }

    .header_suptitle {

        font-size: 18px;
        text-align: center;
        margin: 25px 0px;
        padding-bottom: 30px;
        width: 750px;



    }

    .header_s_title {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;

        height: 86px;
        width: 595px;


    }



    .header_left {
        display: none;
    }

    .phone_holder {
        margin-top: 40px;

    }




    .header_mobile {
        display: block;
        align-items: center;
        width: 500px;
    }

    .header_mobile_logo {
        display: flex;
        justify-content: center;
    }

    .card_holder,
    .card_holder2 {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(1, 605px);
        grid-template-rows: repeat(3, 236px);
        gap: 35px;

    }

    .card_text,
    .card_text_2 {
        padding: 22px;
    }

    .history {

        height: 1300px;
        padding-bottom: 35px;
    }


    .coment_header,
    .job_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 715px;
    }

    .coment_cards_holder,
    .job_cards_holder {
        position: absolute;
        margin-top: -390px;
        display: inline;
    }




}

@media (max-width: 925px) {

    .header_title {
        font-size: 60px;
        text-align: center;

    }


    .header_subtitle {
        font-size: 18px;
        text-align: center;
        width: 600px;


    }

    .header_suptitle {

        font-size: 18px;
        text-align: center;
        margin: 25px 0px;
        padding-bottom: 50px;
        width: 600px;



    }

    .header_s_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        height: 86px;
        width: 595px;


    }

    .card_holder,
    .card_holder2 {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(1, 505px);
        grid-template-rows: repeat(3, 236px);
        gap: 35px;

    }

    .card_text,
    .card_text_2 {
        padding: 22px;
    }


    .info {

        height: 2000px;
        width: 100%;

    }
    .author{
        height: 650px;
    }

    .coment_header,
    .job_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 715px;
    }

    .coment_cards_holder,
    .job_cards_holder {
        position: absolute;
        margin-top: -410px;
        display: inline;
    }


}

@media (max-width: 762px) {
    .down_info_card {
        display: none;
    }

    .info_2_button {
        margin: 35px;
    }


    .coment_header,
    .job_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 655px;
    }

    .coment_cards_holder,
    .job_cards_holder {
        position: absolute;
        margin-top: -260px;
        display: inline;
    }


}


@media (max-width: 732px) {

    .header_title {
        font-size: 60px;
        text-align: center;
        width: 530px;
    }


    .header_subtitle {
        font-size: 18px;
        text-align: center;
        width: 520px;


    }

    .header_suptitle {

        font-size: 18px;
        text-align: center;
        margin: 25px 0px;
        padding-bottom: 50px;
        width: 520px;



    }

    .header_s_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        height: 86px;
        width: 525px;


    }

    .card_holder,
    .card_holder2 {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(1, 425px);
        grid-template-rows: repeat(3, 236px);
        gap: 35px;

    }

    .card_text,
    .card_text_2 {
        padding: 20px;
    }

    .history_btn {
        margin-bottom: 25px;
        width: 60%;
    }

    .info {

        height: auto;
        width: 100%;

    }

    .down_info_card {
        display: none;
    }

    .job_s {
        margin-bottom: 65px;
    }




}



@media (max-width: 682px) {
    .header_title {
        font-size: 50px;
        text-align: left;
    }

    .header_left {
        display: none;
    }

    .header_logo {
        display: none;
    }

    .number {
        font-size: 40px;
        text-align: center;
    }



    .header_mobile {
        display: block;
        width: 450px;
    }

    .header_mobile_logo {
        display: flex;
        justify-content: center;
    }

    .header_s_title {
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;

        width: 470px;
    }

    .header_subtitle {
        font-size: 12px;
        text-align: center;
        align-items: center;
        width: 470px;


    }

    .header_suptitle {

        font-size: 18px;
        text-align: center;
        margin: 25px 0px;
        padding-bottom: 50px;
        width: 470px;



    }

    .header_button {
        width: 450px;
        align-items: start;

    }

    .card_title {
        font-family: Avenir Next Cyr;
        font-size: 34px;

        margin-bottom: 55px;
        width: 80%;



    }

    .card_holder,
    .card_holder2 {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(1, 365px);
        grid-template-rows: repeat(3, 236px);
        gap: 35px;

    }

    .card_text,
    .card_text_2 {
        padding: 22px;
    }


    .history_btn {
        margin-bottom: 35px;
        width: 80%;
    }
}



@media (max-width: 662px) {

    .header_subtitle {
        font-size: 12px;
        text-align: center;
        width: 330px;


    }

    .header_suptitle {

        font-size: 12px;
        text-align: center;
        margin: 25px 0px;
        padding-bottom: 50px;
        width: 330px;



    }

    .header_s_title {
        display: flex;
        flex-direction: column;
        margin-bottom: 160px;
        font-size: 12px;
        width: 330px;
    }

    .header_button {
        width: 300px;
        align-items: start;

    }


    .history_btn {
        margin-bottom: 65px;
        width: 180px;
    }



}

@media (max-width: 562px) {

    .header_title {
        font-size: 50px;
        text-align: left;

    }

    .header_s_title {
        display: flex;
        flex-direction: column;
        margin-bottom: 180px;
        font-size: 12px;
        width: 350px;
    }

    .header_subtitle {
        text-align: left;
    }


    .header_button {
        width: 300px;
        align-items: start;

    }

    .header_suptitle {
        display: none;
    }


    .card_holder,
    .card_holder2 {
        margin-bottom: 55px;
        display: grid;
        grid-template-columns: repeat(1, 325px);
        grid-template-rows: repeat(3, 236px);
        gap: 35px;

    }

    .card_text,
    .card_text_2 {
        padding: 15px;
    }

    .info_2_button {
        margin: 85px;
    }



}

@media (max-width: 502px) {
    .header_s_title {

        width: 300px;
    }

    .header_button {
        width: 250px;
        margin-top: 35px;
    }

    .info_2_button {
        margin-top: 235px;
    }


}

@media (max-width: 477px) {
    .header_s_title {

        width: 300px;
    }

    .header_button {
        width: 200px;
        margin-top: 45px;
    }

}






.info {
    background: #022335;
    border-bottom: 2px solid #07aec4;
    box-shadow: 0px 7px 20px -17px #00E0FF;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;


}

.info_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 85px;
    margin-bottom: 115px;
    color: #4ABCEC;
    text-transform: uppercase;

}

.info_title span {
    color: #fff;
}


.info_2 {
    background: url(Фон5.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

}

.info_2_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    text-align: left;
    padding-top: 85px;
    margin-bottom: 65px;
    color: #4ABCEC;
    text-transform: uppercase;

}

.info_2_title span {
    color: #fff;
}

.info_2_button {
    margin-top: 105px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 360px;
    height: 120px;


}


.info_2_btn {
    padding: 18px;

    text-decoration: none;
    transition: background 0.3s liner;
    border: 1px solid;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;


}

.info_2_btn:hover {
    background: #0d837b;
}

.info_3 {
    background: #022335;
    background-size: cover;
    width: 100%;
    height: 1700px;
}

.info_3_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 86px;
    text-align: left;
    padding-top: 85px;

    color: #4ABCEC;
    text-transform: uppercase;

}

.info_3_title span {
    color: #fff;
}

.info_3_subtitle {
    font-family: Avenir Next Cyr;
    font-size: 18px;
    font-weight: 450;
    line-height: 22px;
    text-align: left;
    color: #fff;
    margin-bottom: 75px;
}

.info_3_btn {
    padding: 15px;
    margin-top: 85px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 420px;
    height: 65px;
    text-decoration: none;
    transition: background 0.3s liner;
    border: 1px solid;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;


}

.info_3_btn:hover {
    background: #0d837b;
}



.author {
    background: url(fon6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
}

.author_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    text-align: left;
    padding-top: 85px;
    margin-bottom: 55px;
    color: #fff;
    text-transform: uppercase;
}

.author_subtitle {
    width: 500px;
    color: #fff;
}

.coments {
    background: #022335;
    background-size: cover;
    width: 100%;
    height: 950px;
}

.coment_header,
.job_header {
    display: flex;
    justify-content: space-between;
}

.coment_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    padding-top: 85px;
    padding-bottom: 105px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;

}

.more_coment {
    padding: 15px;
    margin-top: 85px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 420px;
    height: 65px;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s liner;
    border: 1px solid;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;


}

.more_coment:hover {
    background: #0d837b;
}

.jobs {
    background: #043A41;
    background-size: cover;
    width: 100%;
    height: 1300px;
}

.job_title {
    font-family: Avenir Next Cyr;
    font-size: 54px;
    font-weight: 450;
    line-height: 66px;
    padding-top: 85px;
    padding-bottom: 105px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;

}


.job_s {
    padding: 15px;
    margin-top: 85px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 420px;
    height: 65px;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s liner;
    border: 1px solid;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;


}

.job_s:hover {
    background: #0d837b;
}

.footer {
    background: url(fon7.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: -300px;

}




.footer_logo {
    position: absolute;
    margin-top: 25px;


}

.footer_holder {
    padding-top: 105px;
}

.footer_call {
    position: absolute;
    margin-top: -525px;


}